body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1919; /* 90% opacity */
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 100%; /* 75% of the body height */
    width: 100%;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    position: relative; /* Added for the pseudo-element */
    top: -40px; /* Change this value to move the divs up */

}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Control opacity with the alpha value */
    z-index: 1;

}

.left, .middle, .right {
    width: calc(30% * 0.65); /* 35% reduction in width */
}

.middle {
    width: 55%;
}
.middle .vr {
    height: 85%;
}
.middle .small {
    height: 500px;
}

.small {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-btn {
    background-color: grey;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  



  
.right .box {
    height: 50%;
}

/* Unique colors for each box */
#box1 {
    background-color: #0E0808;
}

#box2 {
    background-color: #0E0808;
}

#box3 {
    background-color: #0E0808;
}

#box4 {
    background-color: #0E0808;
}
#box4 {
    position: relative;
  }
  
  .upload-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .upload-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-align: center;
  }
  
  .upload-icon img {
    width: 50px;
    height: 50px;
  }
  
  .preview-container {
    display: none;
  }
  
  .preview-header {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
  }
  
  .preview-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .preview-table thead,
  .preview-table tbody {
    overflow: auto;
  }
  
  .preview-table thead th {
    border-bottom: 1px solid #ccc;
  }
  
  .preview-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .preview-table td,
  .preview-table th {
    padding: 8px;
    text-align: left;
  }
  
  /* Add this to change the hover color of the dropdown menu */
  .drop-down-menu:hover {
    background-color: lightgrey;
  }
  

#box5 {
    background-color: #0E0808;
}

#box6 {
    background-color: #0E0808;
}


a {
	color: #ffffff;
}

.menu {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
    pointer-events: auto;
}

.label {
    opacity: 0.5;
    font-size: 25px;
    text-align: center;
    color: black;
    background: rgba(127,255,255,0.85);
    outline: 5px solid rgba(12,25,25,1.0);
    border: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

.pin {
    font-size: 100px;
    text-align: center;
    color:indianred;
    background: transparent;
    border: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

.boxface {
    opacity: 0.5;
    width: 90px;
    height: 90px;
    font-size: 25px;
    text-align: center;
    color: black;
    background: rgba(127,255,255,0.85);
    outline: 5px solid rgba(12,25,25,1.0);
    border: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

button {
    opacity: 0.5;
    text-align: center;
    color: black;
    background: rgba(127,255,255,0.85);
    outline: 5px solid rgba(12,25,25,1.0);
    border: 0px;
    margin-bottom: 0px;
    font-size: 16;
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
    margin: 10px;
}
button:hover {
    color: rgba(127,255,255,0.85);
    background: black;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    left: 0;
    margin-top: 10px; /* Add space between the dropdown menu and the box with ID 3 */

}

.dropdown-menu {
    background: rgba(10, 10, 10, 0.75);
    color: white;
    border: 1px solid rgba(127, 255, 255, 0.5);
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    cursor: pointer;
    width: 15%;
    text-align: center;
}
